@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}
html::-webkit-scrollbar-thumb {
  background: #fef156;
}

/*body starts*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
*::selection {
  background: #2b3dda;
  color: #fff;
}
body {
  background: #f7f7f7;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  min-height: 100vh;
  padding: 2rem 9%;
}

/* pre loader start */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #e6eff1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.loader-container.fade-out {
  top: -120%;
}
/* pre loader end */

/* navbar starts */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}
.header .logo {
  font-size: 3rem;
  font-weight: 800;
  text-decoration: none;
  color: #011aff;
}
.header .logo i {
  font-size: 2.2rem;
}
.header .logo:hover {
  color: #fef156;
}
.header .logo .logo-img{
  height: 3.2rem;
  width: 3.2rem;
  margin: 0 1rem -0.4rem;
}
.header .navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .navbar-ass li {
  margin-left: 2.5rem;
}
.header .navbar li a {
  display: inline-block;
  font-size: 1.7rem;
  color: #011aff;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
  position: relative;
}
.header .navbar a::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #fef156;;
	border-radius: 4px;
	scale: 0 1;
	transform-origin: right;
	transition: scale 0.25s;
}
.header .navbar a:hover::before {
	scale: 1;
	transform-origin: left;
}
.header .navbar li a.active{
  color: #011aff;
  border-bottom: 0.2rem solid #b8ec64;
  padding: 0.5rem 0;
}
/* navbar ends */

/* hamburger icon starts*/
#menu {
  font-size: 3rem;
  cursor: pointer;
  color: #011aff;
  display: none;
}
@media (max-width: 768px) {
  #menu {
    display: block;
  }
  .header .navbar-ass {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #0e0f31;
  }
  .header .navbar-ass ul {
    flex-flow: column;
    padding: 1rem;
  }
  .header .navbar-ass ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  .header .navbar-ass ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
  }
  .header .navbar-ass ul li a.active,
  .header .navbar-ass ul li a:hover {
    padding: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #011aff;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  .header .navbar-ass.nav-toggle {
    right: 0;
  }
}
/* hamburger icon ends */

/*home section starts*/
.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home .content {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}
.home .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #1d1a1a;
}
#text-animated{
  background-color: none;
  color: #1a7098;
  text-shadow:  0px 5px 18px rgb(53, 138, 230, 0.3);
  font-size: 5rem;
  font-weight: bold;
  display: inline-block;
}

.home .content p {
  font-size: 2.5rem;
  color: #000;
  font-weight: 600;
  padding: 1rem 0;
}
.home .btn {
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #0a49f6;
  box-shadow: 0px 5px 18px #0a49f6;
  font-family: "Nunito", sans-serif;
}
.home .btn span {
  font-weight: 900;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
}
.home .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.home .btn:hover {
  color: #b8ec64;
  background-color: #0a49f6;
  transform: scale(1.1);
}
.home .btn:hover i {
  transform: translateX(5px);
}
/*home section ends*/

/* social icons start */
.socials {
  position: relative;
  margin-top: 9rem;
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
}
.social-icons li {
  display: inline-flex;
  margin-bottom: 14px;
}
.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: white;
  background-color: #615f83;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}
.github:hover {
  background-color: black;
  outline-color: black;
  color: #fff;
}
.instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
  color: #fff;
}
.twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}
.facebook:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
  color: #fff;
}
@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
      transform: rotate(-15deg);
  }
}
/* social icons end */

/* hero section starts*/
.home .image {
  flex: 1 1 40rem;
  z-index: 1;
}
.home .image img {
  height: 70%;
  width: 70%;
  margin-left: 6rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.home .image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
/* hero media queries starts*/
@media (max-width: 1057px) {
  .home .image img{
    height: 70%;
    width: 70%;
    margin: auto;
  }
}
@media (max-width: 450px) {
  .home .btn {
    margin: 4rem 0;
  }
  .socials {
    margin-top: 12rem;
  }
  .home .image img {
    margin-top: -12rem;
  }
  .home .content p {
    font-size: 2.2rem;
  }
  .home .content p span {
    font-size: 2.2rem;
  }
}
/* hero media queries ends*/
/* hero section ends */

/* story section starts */
.story {
  background: rgb(255, 255, 255);
  background: linear-gradient(to right, #dfdfdf , #fff);
}
.heading {
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
}
.story .content span{
  display: block;
  opacity: 0;
  animation: reveal 2s forwards var(--d);
}
.story.active .content span {
  display: block;
  opacity: 0;
  animation: reveal 2s forwards var(--d);
}
@keyframes reveal {
  from { transform: translateY(20px);}
  to { opacity: 1; transform: none;}
}
.story .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem;
}
.story .row .image {
  text-align: center;
  flex: 1 1 35rem;
}
.story .row .image img {
  margin: 4rem;
  width: 30rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity;
  transition: 0.3s;
  cursor: pointer;
}
.story .row .image img:hover {
  mix-blend-mode: normal;
}
.story .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
}
.story .row .content h3 {
  color: rgb(27, 27, 27);
  font-size: 2.5rem;
}
.story .row .content .tag {
  font-size: 1.4rem;
  color: #020133;
  font-weight: 600;
  margin-top: 1rem;
}
.story .row .content p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
  text-transform: none;
}
.story .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  font-family: "Nunito";
  font-weight: 600;
}
.story .row .content .box-container .box p {
  text-transform: none;
}
.story .row .content .box-container .box p span {
  color: #011aff;
}
#age{
  color: #000;
}
/* story media queries starts*/
@media screen and (max-width: 600px) {
  .story .row .image {
    margin-top: 2rem;
  }
  .story .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }
  .story .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }
  .story .row .content {
    padding: 1rem;
  }
  .story .row .content .box-container {
    gap: 2rem;
  }
}
/* story media queries ends*/
/* story section ends */

/*skills section starts*/
.skills{
  padding-top: 3rem;
  padding-bottom: 0;
  min-height: 90vh;
}
.sectitle{
  display: block;
  width: 18rem;
  margin: auto;
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
  border-bottom: 4px solid #0077b5;
  border-radius: 3px;
}
.prog-container{
  margin-top: 2rem;
}
.progress{
  margin-top: 2rem;
  display: flex;
  height: 3rem;
}
.progress-bar{
  color: #000;
  font-size: 1.5rem;
}
.skills h3{
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
}
.projects{
  display: block;
  text-align: center;
}
.projects p{
  font-size: 2rem;
  font-weight: 600;
  margin: 3rem auto;
  text-align: center;
}
.projects a{
  display: inline-block;
  color: #fff;
  background-color: #000;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1.2em 1rem;
  margin: 1rem auto;
  border-radius: 15px;
  width: 180px;
  height: 50px;
  transition: 0.7s ease;
}
.projects a:hover{
  text-decoration: none;
  color: #007bff;
}

/*skills section ends*/

/*contact me section starts*/
.contact{
  position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 50px;
}
.contact:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url(../images/bg.webp) no-repeat center;
  background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
.left{
	background: url(../images/msg.webp) no-repeat center;
  background-size: cover;
  background-position: 80% 0;
	height: 100%;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
}
.left .h5p{
  font-size: 1.25rem ;
}
.left .h6p{
  font-size: 1rem ;
}
.right{
	padding: 25px 40px;
}
.h2c{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.h2c:after{
	content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #0077b5;
}
.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
  	border-radius: 5px;
  	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
	text-transform: none;
}
.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
textarea{
  min-height: 150px;
}
.btn1{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #007bff;
	color: #fff;
	font-size: 1.3rem;
  border-radius: 4px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}
.btn1:hover{
    background-color: #011aff;
}
.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}
.field:focus:invalid{
  border-radius: none;
  border: 3px solid red;
  animation: shake 0.2s 2;
}
.field:invalid{
  border: 3px solid red;
}
.field:focus:valid{
  border-radius: none;
  border: 3px solid #1de22d;
}
@keyframes shake {
  25% {
    translate: 6px 0;
  }
  50% {
    translate: -6px 0;
  }
  75% {
    translate: 6px 0;
  }
}
@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}
/*contact me section ends*/

/*footer starts*/
footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  padding-bottom: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-social{
  display: inline-flex;
  list-style: none;
  justify-content: space-around;
}
.footer-social li {
  display: inline-flex;
}
.footer-social a {
  font-size: 1.2rem;
  display: inline-block;
  line-height: 30px;
  color: white;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
  margin: 0 0.8rem;
}
.footer-links {
  list-style: none;
  display:flex;
}
.footer-links li a {
  color: #1de22d;
  font-size: 1.5rem;
  margin-right: 20px;
  text-decoration: none;
}
.footer-links li a:hover{
  color: #1de22d;
  border-bottom: 0.2rem solid #b8ec64;
  padding: 0.5rem 0;
}
.bottom{
  display: flex;
  background: #111;
  text-align: center;
  justify-content: center;
  min-height: 5vh;
  padding: 1rem 0;
  margin-top: 15px;
}
.paragraph{
  color: #1de22d;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.paragraph a{
  color: #459fff;
}
.paragraph a:hover{
  text-decoration: none;
}
/*footer ends*/
/*body ends*/
